<template>
    <header>
        <button @click="login" v-if="!isAuth">Login</button>
        <button @click="logout" v-else>Logout</button>
    </header>
</template>

<script>
export default {
    computed: {
        isAuth() {
            return this.$store.getters.isAuth;
        }
    },
    methods: {
        login() {
            this.$store.dispatch('login');
        },
        logout() {
            this.$store.dispatch('logout');
        }
    }
}
</script>