<template>
    <section>
        <user-auth></user-auth>
        <ul>
            <course-item v-for="course in ($store.getters.courses)" 
            :key="course.id"
            :id="course.id"
            :name="course.name"
            :description="course.description"></course-item>
        </ul>
        <new-course v-if="isAuth"></new-course>
        <!-- <div>
            <li v-for="post in posts" :key="post.id">
                <h2>{{ post.title }}</h2>
                <p>{{ post.body }}</p>
            </li>
        </div> -->
    </section>
</template>

<script>
import CourseItem from './CourseItem.vue';
import NewCourse from './NewCourse.vue';
import UserAuth from './UserAuth/UserAuth.vue';

export default {
    components: {
        CourseItem,
        NewCourse,
        UserAuth
    },
    computed: {
        isAuth() {
            return this.$store.getters.isAuth;
        }
    }
    // mounted () {
    //     fetch('https://jsonplaceholder.typicode.com/posts')
    //       .then(response => response.json())
    //       .then(json => this.posts = json)

    // },
}
</script>