<template>
    <div>
        <li>
            <h2> {{ name }}</h2>
            <div> {{ description }}</div>
            <button @click="deleteItem">Delete</button>
        </li>
    </div>
</template>

<script>
export default {
    // emits: ['delete-item'],
    // props: ['name', 'description']
    props: {
        id: {
            required: true
        },
        name: {
            type: String,
            required: true
        },
        description: {
            type: String,
            required: true
        }
    },
    methods: {
        deleteItem (deleteId) {
            // this.$emit('delete-item', deleteId);
            this.$store.dispatch('removeCourse', {deleteId: this.id});
        }
    }
}
</script>