<template>
    <div class="container">
        <form @submit.prevent="submitData">
            Name: <input type="text" v-model="name">
            Description: <textarea rows="2" name="desc" v-model="description"></textarea>
            <button>Submit</button>
        </form>
    </div>
</template>

<script>
export default {
    emits: ['add-course'],
    data () {
        return {
            name: '',
            description: ''
        }
    },
    methods: {
        submitData () {
            // this.$emit('add-course', this.name, this.description);
            // this.name = '';
            // this.description = '';
            this.$store.dispatch('newCourse', {name: this.name, desc: this.description});
            this.name = '';
            this.description = '';
        }
    }
}
</script>

<style scoped>
.MyForm {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px solid #ccc;
    border: 1px solid #eee;
    padding: 80px;
    box-sizing: border-box;
}
</style>